body { 
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    margin: 0rem;
}

.navigation { 
    height: 4rem;
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 1rem;
}

.footer { 
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 1rem 1rem;
}

textarea { 
    width: 80%;
    height: 10vh; 
    display: block;
    margin: 2rem;
    padding: 1rem;
 } 
 #output { 
     border: 1px;
     height: 10vh;
     width: 80%;
     margin: 1rem;
     padding: 1rem;
 }
 #btn-translate { 
     background-color: black;
     color: yellow;
     padding: 1rem;
     margin: 1rem;
     text-align: center;
     border-radius: 1rem;
     font-weight: 500;
     font-size: larger;
 }
 h1 { 
     text-align: center;
 }
 div { 
     text-align: center;
 }
 